.dashboard {
    display: flex;
    position: relative;
}

.content {
    margin-left: 250px; 
    padding: 20px;
    width: calc(100% - 250px); 
    display: flex;
    flex-direction: column; 
    gap: 20px; 
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

h1 {
    color: #4caf50;
    margin: 0;
}

.logo-dashboard {
    width: 150px; 
    height: auto;
}

.listas {
    display: flex;
    gap: 20px; 
}

.lista-animais-container, .lista-plantas-container {
    flex: 1; 
    min-width: 300px; 
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #4caf50;
}

a:hover {
    text-decoration: underline;
}

.fundo-dashboard {
    border-radius: 10px;
    border: 5px solid #4caf50;
    position: absolute;
    top: 0;
    left: 250px; 
    width: calc(100% - 250px);
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* Responsividade */
@media (max-width: 768px) {
    .content {
        margin-left: 0; /* Remove a margem esquerda em telas menores */
        width: 100%; /* Aumenta a largura para 100% */
    }

    .listas {
        flex-direction: column; /* Empilha as listas verticalmente */
    }

    .header {
        flex-direction: column; /* Alinha o cabeçalho em coluna */
        align-items: flex-start; /* Alinha o conteúdo à esquerda */
    }

    h1 {
        margin-bottom: 10px; /* Espaçamento abaixo do título em telas menores */
    }
}
