/* sidebar.css */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #e0f7e9; /* Fundo verde suave */
    border-right: 2px solid #4caf50; /* Borda estilizada */
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    transform: translateX(-100%);
    z-index: 1000; /* Para garantir que a sidebar fique acima de outros elementos */
}

.sidebar.open {
    transform: translateX(0);
}

.sidebar-toggle {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #4caf50; /* Cor consistente com o design */
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    z-index: 1100; /* Um pouco acima da sidebar */
}

.sidebar-toggle:hover {
    background-color: #228924; /* Tom mais escuro ao passar o mouse */
}

.logo-container {
    text-align: center;
    margin-bottom: 20px;
}

.logo-sidebar {
    max-width: 150px;
    height: auto;
}

nav a {
    display: block;
    color: #333;
    text-decoration: none;
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #4caf50;
    color: white;
}

.logout-container {
    position: absolute;
    bottom: 60px;
    width: 100%;
    text-align: center;
}

.btn {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    margin: 0 auto; /* Centraliza horizontalmente */
    display: block; /* Necessário para centralização */
    transition: background-color 0.3s; /* Transição suave para o hover */
}

.btn:hover {
    background-color: #228924;
}

/* Responsividade */
@media (max-width: 768px) {
    .sidebar {
        width: 200px; /* Largura menor em telas médias */
    }
}

@media (max-width: 480px) {
    .sidebar {
        width: 150px; /* Largura ainda menor em telas pequenas */
    }

    .sidebar-toggle {
        left: 10px; /* Ajuste na posição do botão */
        top: 10px; /* Ajuste na posição do botão */
    }
}
