.signup-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #e0f7e9; /* Fundo verde suave */
    border: 2px solid #4caf50;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex; /* Adicionando flexbox */
    flex-direction: column; /* Alinhando os itens na coluna */
    align-items: center; /* Centralizando horizontalmente */
}

.signup-form div {
    margin-bottom: 15px;
}

.signup-logo {
    max-width: 150px;
    padding: 10px 50px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
}

button:hover {
    background-color: #45a049;
}

span[role="alert"] {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
    display: block;
}
